/* v1.0.25  2021-03-26 */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.mobileSyle {
  margin-left: 0;
  width: 100%;
  font-size: 90%;
}

.PCStyle {
  font-size: 100%;
  margin-left: 30vw;
  width: 40vw;
  /* for kingscrusher-youtube ! (long name) */
  /* margin-left: 28vw; */
  /* width: 44vw; */
}

.projectNameDifMobile {
  font-size: small;
}

.projectNameDifPC {
  font-size: large;
}

.projectName {
  margin-top: 1px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  cursor: url('NeonCursor04-Blue.cur'), pointer;
  text-shadow: 1px 1px 1px #e495e4;
  border: 2px solid lightgray;
  border-radius: 6px;
}

.buttonGroup {
  font-size: small;
  /* font-style: italic; */
  margin-left: 1vw;
}


.select {
  font-size: medium;
  /* font-weight: bold; */
}

/* -------- Form ----------- */

.button {
  font-size: medium;
  width: 50%;
  margin-left: 25%;
}

.oneLine {
  display: flex;
  margin-top: 1vw;
}

.inputCheck {
  margin-left: 2vw;
  transform: scale(1.5);
  /* zoom */
}

.inputCheckSettings {
  transform: scale(1.5);
  /* zoom */
}

.buttonRefresh {
  font-size: medium;
  margin-left: 1vw;
}

.inputText {
  font-size: medium;
  width: 100%;
  margin-left: 1vw;
  margin-right: 2vw;
}

.inputTextTest {
  font-size: medium;
  width: 50%;
  margin-left: 1vw;
}

.msgChangePlayerList {
  font-size: small;
  font-style: italic;
  color: gray;
}

/* -------- Table ----------- */

 table {
  /* background-color: #ff33cc; */
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 2px solid purple; */
  border: 2px solid black;
  margin-top: 1vw;
}

thead th:nth-child(1) {
  width: 29%;
}

thead th:nth-child(2) {
  width: 14%;
}

thead th:nth-child(3) {
  width: 14%;
}

thead th:nth-child(4) {
  width: 14%;
}

thead th:nth-child(5) {
  width: 14%;
}

thead th:nth-child(6) {
  width: 15%;
}

thead {
  cursor: url('NeonCursor04-Blue.cur'), pointer;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.leftTopOfTable {
  font-family: 'Rock Salt';
  font-style: italic;
  color: white;
  text-align: center;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  /* border: 0px solid purple; */
}

tbody tr:nth-child(odd) {
  /* background-color: #e495e4; */
  background-color: lightgray;
}

tbody tr:nth-child(even), thead tr:nth-child(odd) {
  /* background-color: #ff33cc; */
  background-color: gainsboro;
}

tbody td {
  text-align: center;
  color: black;
}

th, td {
  /* padding-top: 0.5vh;
  padding-bottom: 0.5vh; */
  padding-top: 0.2vh;
  padding-bottom: 0.0vh;
  word-break: break-all;
}

th {
  letter-spacing: 0px;
}

td {
  letter-spacing: 0px;
}

.buttonSettings {
  font-size: medium;
  width: 35%;
  margin-left: 30%;
  margin-right: 4px;
}

.href {
  margin-top: 1vh;
  padding-right: 1vw;
}

.lastOnline{
  font-size: x-small;
  color: gray;
  font-weight: bold;
}

.statusOnline{
  font-size: large;
  color: gray;
}

.statusPlaying{
  font-size: large;
  color: green;
  font-weight: bold;
}

.statusStreaming{
  font-size: small;
  /* color: peru; */
  /* color: black; */
  /* font-weight: bold; */
}

.playerTitle{
  font-size: medium;
  color: peru;
  font-weight: bold;
}

footer {
  font-size: small;
  margin: auto;
  /* width: 100%; */
}

/* ------- Settings -------------- */

fieldset {
  border-radius: 5px;
}

.click {
  font-style: italic;
}

.dotted {
  border-bottom: 2px dotted #e495e4;
}

/* --------------------- */

.showBlock {
  display: block;
}

.hiddenBlock {
  display: none;
}

/* -------- Login ----------- */

.oneLineUser {
  display: flex;
  /* margin-left: 1vw; */
}

.inputTextLogin {
  /* font-size: medium; */
  margin: 10px;
  /* width: 70%; */
  font-family: monospace;
  font-size: 16px;
}

#okMessage {
  color: #18a051;
  display: block;
  margin: 10px;
  font-size: medium;
  max-width: fit-content;
}

#errorMessage {
  color: #E91E63;
  display: block;
  margin: 10px;
  font-size: medium;
  max-width: fit-content;
}

.currentUsername {
  color: goldenrod;
  /* font-style: italic; */
  margin-left: 5px;
}

.referToExtAuth {
  color: limegreen;
  font-size: medium;
}