/* v1.0.25  2021-03-26 */

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

.mobileStyle {
  margin-left: 0;
  width: 100%;
  font-size: 70%; /*90%*/
}

.PCStyle {
  font-size: 100%;
  margin-left: 30vw;
  width: 40vw;
}

.projectNameDifMobile {
  font-size: small;
}

.projectNameDifPC {
  font-size: large;
}

.projectName {
  /* font-size: medium; */
  margin-top: 1px;
  /* font-weight: bold; */
  /* font-style: italic; */
  text-align: center;
  width: 42%;
  margin-left: 29%;
  cursor: url('NeonCursor04-Blue.cur'), pointer;
  /* text-shadow: 1px 1px 1px #e495e4; */
  /* text-shadow: 1px 1px 1px black; */
  /* border: 2px solid lightgray; */
  /* border: 2px solid black; */
  border: 1px solid black;
  border-radius: 4px;
}

.buttonGroup {
  /* font-size: small; */
  font-size: medium;
  /* font-style: italic; */
  /* margin-left: 1vw; */
  margin-left: 8px;

}

.select {
  font-size: medium;
  font-weight: bold;
}

/* -------- Form ----------- */

.button {
  font-size: medium;
  width: 50%;
  margin-left: 25%;
}

.oneLine {
  display: flex;
  margin-top: 1vw;
}

.inputCheck {
  /* margin-left: 2vw; */
  margin-left: 1vw;
  transform: scale(1.5);
  /* zoom */
}

.inputCheckSettings {
  transform: scale(1.5);
  /* zoom */
}

.buttonRefresh {
  font-size: medium;
  margin-left: 1vw;
}

.inputText {
  font-size: medium;
  /* font-size: large; */
  width: 100%;
  margin-left: 1vw;
  /* margin-right: 2vw; */
}

/* -------- Table ----------- */

 table {
  /* background-color: #ff33cc; */
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* border: 2px solid purple; */
  border: 2px solid black;
  /* margin-top: 0.5vw; */
  margin-bottom: 0.3vw;
}

thead th:nth-child(1) {
  width: 29%;
}

thead th:nth-child(2) {
  width: 3%;
}

thead th:nth-child(3) {
  width: 14%;
}

thead th:nth-child(4) {
  width: 14%;
}

thead th:nth-child(5) {
  width: 14%;
}

thead th:nth-child(6) {
  width: 14%;
}

thead th:nth-child(7) {
  width: 12%;
}


thead {
  cursor: url('NeonCursor04-Blue.cur'), pointer;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.leftTopOfTable {
  font-family: 'Rock Salt';
  font-style: italic;
  color: white;
  text-align: center;
}

thead th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  /* border: 0px solid purple; */
}

tbody tr:nth-child(odd) {
  /* background-color: #e495e4; */
  background-color: lightgray;
}

tbody tr:nth-child(even), thead tr:nth-child(odd) {
  /* background-color: #ff33cc; */
  background-color: gainsboro;
}

tbody td {
  text-align: center;
  color: black;
}

th, td {
  /* padding-top: 0.5vh;
  padding-bottom: 0.5vh; */
  padding-top: 0.2vh;
  padding-bottom: 0.0vh;
  word-break: break-all;
}

th {
  letter-spacing: 0px;
}

td {
  letter-spacing: 0px;
}

.sectionSettingsButtons{
  /* text-align: right; */
  text-align: left;
  display: flex;
}

.buttonSettings {
  font-size: medium;
  /* width: 35%; */
  /* margin-left: 30%; */
  margin-left: 8px;
  /* margin-right: 8px; */
  /* margin-right: 0px; */
  /* border-radius: 4px 4px 0 0; */
}

.tabSettings {
  font-size: medium;
  margin-left: 0px;
  border-radius: 6px 6px 0 0;
}

.tabActive {
  /* text-decoration: underline; */
  text-decoration: overline;
  /* border-right-width: medium;
  border-bottom-width: medium; */
}

.tabPassive {
  text-decoration: none;
  /* border-right-width: large;
  border-bottom-width: large; */
}

.Lang {
  font-size: medium;
  margin-left: 8px;
}

.href {
  margin-top: 1vh;
  padding-right: 1vw;
}

.lastOnline{
  font-size: x-small;
  font-weight: bold;
  color: gray;
  /* color: black; */
}

.lastOnlineBeforeToday{
  font-size: x-small;
  font-weight: normal;
  /* color: white; */
  /* color: aliceblue; */
  color: darkgray;
}

.mobileRatingPlus{
  font-size: x-small;
  color: green;
}

.ratingPlus{
  font-size: small;
  color: green;
}

.ratingMinus{
  /* font-size: small; */
  font-size: x-small;
  color: red;
}

.scorePlus{
  color: green;
}

.scoreMinus{
  color: red;
}

.colorGreen{
  color: green;
}

.colorRed{
  color: red;
}


.statusOnline{
  /* font-size: large; */ /* for symbol 'circle'*/
  font-size: x-small; /* for symbol 'check'*/
  color: gray;
}

.statusPlaying{
  font-size: large;
  /* font-size: small; */
  color: green;
  font-weight: bold;
}

.statusStreaming{
  font-size: small;
  /* color: peru; */
}

.playerTitle{
  font-size: small;
  color: peru;
  font-weight: bold;
}

footer {
  font-size: small;
  margin: auto;
}

/* ------- Settings -------------- */

fieldset {
  border-radius: 5px;
}

.click {
  font-style: italic;
}

.dotted {
  border-bottom: 2px dotted #e495e4;
}

/* --------------------- */

.showBlock {
  display: block;
}

.hiddenBlock {
  display: none;
}

/* -------- Login ----------- */

.oneLineUser {
  display: flex;
  /* margin-left: 1vw; */
}

.inputTextLogin {
  /* font-size: medium; */
  margin: 10px;
  /* width: 70%; */
  font-family: monospace;
  font-size: 16px;
}

#okMessage {
  color: #18a051;
  display: block;
  margin: 10px;
  font-size: medium;
  max-width: fit-content;
}

#errorMessage {
  color: #E91E63;
  display: block;
  margin: 10px;
  font-size: medium;
  max-width: fit-content;
}

.currentUsername {
  color: goldenrod;
  /* font-style: italic; */
  margin-left: 5px;
}

.referToExtAuth {
  color: limegreen;
  font-size: medium;
}

/* ------------------------ */

.alignLeft{
  text-align: left;
}

.alignCenter{
  text-align: center;
}

.alignRight{
  text-align: right;
}

.waitAnimation {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    /* background-color: '#ffe4b5'; */
    background-color: white;
  }
  to {
    /* background-color: '#ffe4b5'; */
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.waitAnimation2 {
  animation-duration: 4s;
  animation-name: slidein2;
}

@keyframes slidein2 {
  from {
    /* background-color: '#ffe4b5'; */
    background-color: rgba(0, 0, 0, 0.5);
  }
  to {
    background-color: white;
  }
}

/* -------- msgHint ---------------- */

.msgHint {
  font-size: small;
  font-style: italic;
  color: gray;
    text-align: left;
  }

.msgHintWaitAnimation {
  animation-duration: 4s;
  animation-name: slideMsgHint;
}

@keyframes slideMsgHint {
  from {
    font-size: xx-small;
    font-style: italic;
    /* text-align: center; */
  }
  to {
    font-size: small;
    font-style: italic;
    /* text-align: left; */
  }
}

#buttonChessComRefresh{
  color: green;
/*   font-weight: 600; */
}


/* ---------------------------------------- */

/* #modalDialog {
  font-family: monospace, 'Lucida Console', 'Monaco', 'Courier';
  border-collapse: collapse;
  border: 1px dotted white;
  background-color: lightgray;
}
.modalDialogMobileStyle {
  font-size: x-small;
} */

/* /////////////////////////////////////////////////////////////////////// */
/* html,
body {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
} */

.prompt-formMobileStyle {
  font-size: x-small;
}

#prompt-form {
display: inline-block;
padding: 5px 10px 10px 10px;
margin: 0px 5px 0px 5px;

/* width: 200px; */
border: 1px solid black;
background: white;
vertical-align: middle;
/* text-align: left; */

font-family: monospace, 'Lucida Console', 'Monaco', 'Courier';
}

#prompt-form-container {
position: fixed;
top: 0;
left: 0;
z-index: 9999;
display: none;
width: 100%;
height: 100%;
text-align: center;
}

#prompt-form-container:before {
display: inline-block;
height: 100%;
content: '';
vertical-align: middle;
}

#cover-div {
position: fixed;
top: 0;
left: 0;
z-index: 9000;
width: 100%;
height: 100%;
background-color: gray;
opacity: 0.3;
}

#prompt-form input[name="text"] {
display: block;
margin: 5px;
width: 180px;
}
